/* Beginning Description Style */
.description {
    padding: 23px 43px 20px 30px;
    background-color: $color-black;
    &__text {
        
        font-family: $font-family-arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $color-description;
        margin-bottom: 10px;
    }
    @include mobile {
        padding: 43px 122px 35px 50px;
    }
    @include tablet {
        padding: 23px 43px 20px 30px;
    }
}
/* End Description Style */