/* Beginning Menu Style */
.main-nav { 
    &__item {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: left;

        &--active {
            background-color: $color-active-nav;
        }
    }
    &__link {
        font-family: $font-family-opensans;
        font-size: $font-size-nav;
        font-weight: 700;
        line-height: 24px;
        color: $color-main;
        background-color: $color-nav-main;
        padding: 25px 99px 26px 28px;
        transition: .5ms;
        text-decoration: none;
        

        &:hover {
            background-color: $color-active-nav;
            color: $color-active-font;
        }

        &--active {
            background-color: $color-active-nav;
            color: $color-active-font;
        }

        &--exit {
            color: $color-active-font;
            border-top: 1px solid rgba(42, 45, 55, .42);

        }

        &--main {
            background-color: $color-nav;
        }       
    
    }
}
/* End Menu Style */