@charset 'utf-8';
@import 'common/index';
@import 'blocks/index';

/* Beginning All Elements Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $font-size-card;
  font-family: $font-family-arial;
  font-weight: 300;

}

.error {
  border-color: red;
}

/* End All Elements Style */