$font-family-arial: "Arial", sans-serif;
$font-family-opensans: "OpenSans", sans-serif;

$color-main: #ffffff;
$color-grey: #8494ab;
$color-black:#373c43;
$color-description:#89909d;
$color-button: #005fb8;
$color-card: #f7f8f8;
$color-border: #e4e9ee;
$font-size-card: 16px;

$font-size-nav: 18px;
$color-nav-main:#191c24;
$color-nav: #1f2229;
$color-active-nav: #2a2d37;
$color-active-font: #808592;





	